:root {
    --code-block-padding: 0.5em 1em 0.5em 1em !important;
    --code-line-number-color: rgb(89, 22, 99);
    --code-boundary-color: #8d0b4c;
    --code-highlight-muted-color: #0b87da;
    --code-highlight-background: #dae5eb;
}

.markdown-section tr {
    border-top: none !important;
}

.td-code {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-style: none !important;
    background-color: var(--code-theme-background);
}

.td-code-line-number {
    position: relative;
    user-select: none;
    padding-right: 0.5em !important;
    padding-left: 1em !important;
    border-right: 1px solid var(--code-boundary-color) !important;
    color: var(--code-line-number-color);
    width: 1% ;
    text-align: right ;
}

.td-code-line-content {
    padding-right: 1em !important;
    padding-left: 1em !important;
    width: 100%;
}

.code-line-number {
    background-color: var(--code-theme-background);
}


.code-line-highlight {
    background-color: var(--code-highlight-background);
    box-shadow: inset 0.3em 0 0 var(--code-highlight-muted-color);
}

.code-table {
    display: table !important;
    margin: 0 !important;
    border-collapse: collapse !important;
    border-spacing: 0;
    width: 100%;
}

.pre-code-block{
    padding: 0 !important;
    border-radius: 6px;
}

.code-block{
    padding: 0 !important;
}

/*滚动条高宽度*/
.code-block::-webkit-scrollbar {
    width: 5px !important;
    height: 8px !important;
}

/*滚动条滑块*/
.code-block::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
}

.code-block::-webkit-scrollbar-thumb:hover {
    background: #8f8f8fbe !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
}